<p>b1calculator works!</p>
<button type="button" class="btn btn-primary" style="width: 50px;height: 50px" (click)="sum(number1.value,number2.value)">+</button>
<button type="button" class="btn btn-primary" style="width: 50px;height: 50px" (click)="apart(number1.value,number2.value)">-</button>
<button type="button" class="btn btn-primary" style="width: 50px;height: 50px" (click)="multi(number1.value,number2.value)">*</button>
<button type="button" class="btn btn-primary" style="width: 50px;height: 50px" (click)="dive(number1.value,number2.value)">/</button>
<table class="table">
  <thead>
  <tr>
    <th>Number 1</th>
    <th>Number 2</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">
      <div class="input" style="width: 100px">
      <input #number1
             type="number"
             class="form-control" name="" id="num1" aria-describedby="helpId" placeholder="">
      </div>
    </td>
    <td>
      <div class="input" style="width: 100px">
      <input #number2
             type="number"
             class="form-control" name="" id="num2" aria-describedby="helpId" placeholder="" >
      </div>
    </td>
    <td>
      <div>
        <p class="ms-2">{{result}}</p>
      </div>
    </td>
  </tr>
  </tbody>
</table>


