<div class="row" style="height: 81%">
  <div class="col-2">
    <ul class="list-group vh-79 left-nav-scroll">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
    </ul>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
