    <h1>Accompanied Service</h1>
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-end" style="width: 95%;padding-bottom: 10px">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="showlist" data-bs-target="#addServiceModal">
        Register new contract
      </button>
    </div>
    <table class="table table-info">
      <thead>
      <tr>
        <th>#</th>
        <th>Facility</th>
        <th>Customer</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Deposit</th>
        <th>Payment</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of contracts; index as i">
        <td>{{i + 1}}</td>
        <td>{{contract.service.name}}</td>
        <td>{{contract.customer.name}}</td>
        <td>{{contract.startdate}}</td>
        <td>{{contract.enddate}}</td>
        <td>{{contract.deposit}}</td>
        <td>{{contract.payment}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" onclick="addContractDetail('${contract.getContract_id()}','${customer.getName()}')"
                  class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal">
            +
          </button>
        </td>
        <td>
          <!-- Button trigger modal -->
          <form action="/contract?action=contractDetail" method="post">
            <input type="hidden" name="contract_id" value="${contract.getContract_id()}">
            <button type="submit" id="submit" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#showlist">
              Accompanied service list
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <app-add-contract></app-add-contract>
