<h1>CREATE NEW CUSTOMER</h1><br>
<form class="row g-3" style="width: 95%" [formGroup]="rfCustomer">
  <input hidden formControlName="id" name="id" >
  <div class="col-md-6">
    <label class="form-label">Customer name</label>
    <input #name type="text" class="form-control" formControlName="name" name="name">
    <p style="color: red;" *ngIf="rfCustomer.controls.name.touched && rfCustomer.controls.name?.errors?.required">Bắt buộc
      nhập</p>
  </div>
  <div class="col-md-4">
    <label class="form-label">Birth day</label>
    <input #birthday type="date" class="form-control" formControlName="birthday">
  </div>
  <div class="col-md-2">
    <label class="form-label">Sex</label>
    <select #sex formControlName="sex" class="form-select">
      <option value="Nam">Nam</option>
      <option value="Nữ">Nữ</option>
    </select>
  </div>
  <div class="col-md-2">
    <label class="form-label">Card Id</label>
    <input #cardid type="text" class="form-control" formControlName="cardid">
  </div>

  <div class="col-md-4">
    <label class="form-label">Phone number</label>
    <input #phonenumber type="text" class="form-control" formControlName="phonenumber">
  </div>
  <div class="col-md-4">
    <label class="form-label">Email</label>
    <input #email type="text" class="form-control" formControlName="email">
  </div>
  <div class="col-md-4">
    <label class="form-label">Address</label>
    <input #address type="text" class="form-control" formControlName="address">
  </div>

  <div class="col-md-4">
    <label class="form-label">Customer type</label>
    <select #customerType formControlName="customerType" class="form-select">
      <option value="Diamond">Diamond</option>
      <option value="Platinium">Platinium</option>
      <option value="Gold">Gold</option>
      <option value="Silver">Silver</option>
      <option value="Member">Member</option>
    </select>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary" (click)="edit()">Edit</button>
  </div>
</form>
