    <h1>CREATE NEW SERVICE</h1><br>
    <form method="post" class="row g-3" style="width: 95%" [formGroup]="rfService">
      <div class="col-md-6">
        <label class="form-label">Service name</label>
        <input type="text" class="form-control" name="name" formControlName="name">
        <p style="color: red;" *ngIf="rfService.controls.name.touched && rfService.controls.name?.errors?.required">Bắt buộc
          nhập</p>
      </div>
      <div class="col-md-2">
        <label class="form-label">Area</label>
        <input type="number" class="form-control" name="area" formControlName="area">
      </div>
      <div class="col-md-4">
        <label class="form-label">Rent Price</label>
        <input type="number" class="form-control" name="rentprice" formControlName="rentprice">
      </div>

      <div class="col-md-3">
        <label class="form-label">Person limit</label>
        <input type="number" class="form-control" name="maxperson" formControlName="maxperson">
      </div>
      <div class="col-md-3">
        <label class="form-label">Rent Type</label>
        <select name="rentType" class="form-select" formControlName="rentType" >
          <option *ngFor="let rentType of rentTypes" [ngValue]="rentType" >{{rentType.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">Service Type</label>
        <select name="serviceType" class="form-select" formControlName="serviceType">
          <option *ngFor="let serviceType of serviceTypes" [ngValue]="serviceType" >{{serviceType.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">Standard</label>
        <input type="text" class="form-control" name="standar" formControlName="standar">
      </div>

      <div class="col-md-6">
        <label class="form-label">Other service description</label>
        <input type="text" class="form-control" name="otherServiceDescription" formControlName="otherServiceDescription">
      </div>
      <div class="col-md-3">
        <label class="form-label">Pool area</label>
        <input type="number" class="form-control" name="poolArea" formControlName="poolArea">
      </div>
      <div class="col-md-3">
        <label class="form-label">Floor</label>
        <input type="number" class="form-control" name="floor" formControlName="floor">
      </div>

      <div class="col-md-12">
        <label class="form-label">Free service</label>
        <input type="text" class="form-control" name="freeService" formControlName="freeService">
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="save()">Create</button>
      </div>
    </form>
