<h1>Customer</h1>
  <div class="d-flex justify-content-end" style="width: 95%;">
    <a [routerLink]="['/addcustomer']"><button class="btn btn-primary">Register new customer</button></a><br><br>
  </div>
<table class="table table-info">
    <thead>
    <tr>
      <th>#</th>
      <th>Customer name</th>
      <th>Birth day</th>
      <th>Sex</th>
      <th>Card id</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers; index as i">
      <td>{{i + 1}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.birthday}}</td>
      <td>{{customer.sex}}</td>
      <td>{{customer.cardid}}</td>
      <td>{{customer.phonenumber}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>
          <input type="hidden" name="editServiceId" id="editServiceId" value="">
          <a class="btn btn-info" routerLink="editcustomer/{{customer.id}}">Edit</a>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>


