<div class = "row" style="height: 81%">
  <div class="col-2">
    <app-navigation></app-navigation>
  </div>
<div class="col-10">
  <h1>Service</h1>
  <div class="d-flex justify-content-end" style="width: 95%;">
    <a [routerLink]="['/addservice']">
      <button class="btn btn-primary">Register new service</button>
    </a><br><br>
  </div>
  <table class="table table-info" style="width: 98%;">
    <tr style="text-align: center">
      <th>#</th>
      <th>Service name</th>
      <th>Area</th>
      <th>Rent price</th>
      <th>Person limit</th>
      <th>Rent type</th>
      <th>Service type</th>
      <th>Standar</th>
      <th>Other service description</th>
      <th>Pool area</th>
      <th>Floor</th>
      <th>Free service</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr *ngFor="let service of services; index as i">
      <td>{{i + 1}}</td>
      <td>{{service.name}}</td>
      <td>{{service.area}}</td>
      <td>{{service.rentprice}}</td>
      <td>{{service.maxperson}}</td>
      <td>{{service.renttypeId}}</td>
      <td>{{service.servicetypeId}}</td>
      <td>{{service.standar}}</td>
      <td>{{service.otherServiceDescription}}</td>
      <td>{{service.poolArea}}</td>
      <td>{{service.floor}}</td>
      <td>{{service.freeService}}</td>
      <td>
        <form action="/service?action=edit" method="post">
          <input type="hidden" name="editServiceId" id="editServiceId" value="${service.getService_id()}">
          <button type="submit" class="btn btn-info">Edit</button>
        </form>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
</div>
<router-outlet></router-outlet>
