<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId"> Create New Student</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label for="name">Name</label>
            </td>
            <td>
              <input #name type="text" class="form-control" id="name" aria-describedby="helpId" placeholder="{{student.name}}"></td>
          </tr>
          <tr>
            <td>
              <label for="phoneNumber">Phone number</label>
            </td>
            <td>
              <input #phoneNumber type="text" class="form-control" id="phoneNumber" aria-describedby="helpId" placeholder="{{student.phoneNumber}}"></td>
          </tr>
          <tr>
            <td>
              <label for="address">Address</label></td>
            <td>
              <input #address type="text" class="form-control" id="address" aria-describedby="helpId" placeholder="{{student.address}}">
            </td>
          </tr>
          <tr>
            <td>
              <label for="imgUrl">Online Img URL</label></td>
            <td>
              <input #imgUrl type="text" class="form-control" id="imgUrl" aria-describedby="helpId" placeholder="img Url" value="{{student.img}}">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
