<div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p id="messsage" name="messsage"></p>
      <form action="/contract?action=createContract" method="post">
        <div class="p-4">
          <div class="mb-3">
            <label class="form-label">Start date</label>
            <input type="date" class="form-control" id="startdate" name="startdate" onchange="caculPayment()">
          </div>
          <div class="mb-3">
            <label class="form-label">End date</label>
            <input type="date" class="form-control" id="enddate" name="enddate" onchange="caculPayment()">
          </div>
          <div class="mb-3">
            <label class="form-label">Deposit</label>
            <input type="number" class="form-control" id="deposit" name="deposit" onchange="caculPayment()">
          </div>
          <div class="mb-3">
            <label class="form-label">Payment</label>
            <input type="number" class="form-control" id="caculResult" disabled>
          </div>
          <div class="mb-3">
            <label class="form-label">Employee</label><br>
            <select name="employee_id" style="height: 38px; width: 450px">
                <option class="form-select" value="${employee.getEmployee_id()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Customer</label><br>
            <select name="customer_id" style="height: 38px; width: 450px">
                <option class="form-select" value="${customer.getCustomer_id()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Service</label><br>
            <select name="service_id" style="height: 38px; width: 450px" id="service_id" onchange="caculPayment()">
                <option  class="form-select service_cus" value="${service.getService_id()}" data="${service.getRentprice()}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Accompanied service</label><br>
            <select name="addNewService" style="height: 38px" id="addNewService">
                <option class="form-select addNewService" value="${accompaniedservice.getAccompaniedservice()}" data="${accompaniedservice.getPrice()}" subId="${accompaniedservice.getAccompaniedservice_id()}"></option>
            </select>
            <button type="button" class="btn btn-info" onclick="addService()">+</button>
            <p id="shownew" name="shownew"></p>
            ----- show table
            <p id="table" name="table"></p>

            <input type="hidden" id="subServices" name="subServices">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="checkTrueValue()">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

